{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Evo Test</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Welcome!<br>
                    Choose something</h1>

                    <p align="center">
                        <a href="/notes/create/">Create note</a><br>
                        <a href="/notes/notes-list/">Show notes</a>
                    </p>

                </div>
            </div>
        </div>
    </div>


</body>
</html>