{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Evo Test</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">All sorted notes here!</h1>

                    {% if sorted_notes %}
                        {% for note in sorted_notes %}
                            <p align="center">{{ note.name }}...........{{ note.unique_words }}</p>
                        {% endfor %}
                    {% else %}
                        <p>No notes are available.</p>
                    {% endif %}


                </div>
            </div>
        </div>
    </div>


</body>
</html>