{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Evo Test</title>

    <!-- Bootstrap-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- Custom styles -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>
<body>

    <div class="general-container">
        <div class="container top-container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h1 class="title">Hello!<br>
                    You can create your note here :)</h1>
                    <div>

                        <form action="" method="post" class="form-inline text-center">{% csrf_token %}
                            {{ form.as_p }}
                         <button type="submit" class="btn btn-primary btn-orange">Create</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>


</body>
</html>